* {
	text-decoration-line: none;
	box-sizing: border-box;
}







/******************************header******************************/

.header {
	width:86%;
	position:absolute;
	top:0%;
	left:14%;
	position:relative;
}

.header h1 {
	font-size:20px;
	padding:25px 60px;
	color:#000000;

}

.logout{
	position:absolute;
	top:0px;
	right:0px;
	background-color:rgba(0,0,0, 0.4);



}

.logout p {
	padding:27.5px 40px;
	font-size:15px;
	color:#ffffff;

}

.menu_icon{
	width:56px;
	height:56px;
	position:fixed;
	right:0px;
	top:4.5px;
	display:flex;
	display:none;
	z-index:100;

}

.menu_icon img {
	width:32px;
	height:32px;
	align-items:center;
}

.menu {
	width:100%;
	height:auto;
	position:fixed;
	left:0px;
	top:56px;
	display:none;
	z-index:100;

}

.menu ul li {
	width:100%;
	display:block;
	padding-left:10%;
	color:#ffffff;
	font-size:12.5px;
	padding-top:20px;
	padding-bottom:20px;
}

.menu img {
	width:15px;
	height:15px;
	margin-right:10px;
	vertical-align:middle;
}
/******************************Login******************************/


.login{
	box-sizing:border-box;
}

.login_wrapper{
	position:relative;
}

.login_box{
	width:500px;
	height:500px;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:rgba(255, 255, 255,0.25);
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
  	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
}


.login_logo {
	width:100%;
	text-align:center;
	margin-bottom:40px;
}
.login_logo p {

}


.login_logo img {
	width:120px;
	height:120px;
}

.login_text {
	width:70%;
	text-align:center;
	margin-top:50px;
	margin-right:15%;
	margin-left:15%;
	margin-bottom:60px;
}


.login_value {
	text-align:center;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20%;
	margin-left:20%;
	width:60%;
}

.login_value input {
	width:100%;
	background:transparent;
	border:none;
	border-bottom:solid 2px rgba(217,217,217,0.8);
	padding:6px 0px;
	font-size:16px;
}

.login_value input[type="text"]:focus {
	border-bottom: 2px solid rgba(0, 4, 53, 0.8);
	outline: none;
	transition: 0.8s;

	}

.login_value input[type="password"]:focus {
	border-bottom: 2px solid rgba(0, 4, 53, 0.8);
	outline: none;
	transition: 0.8s;



	}



.error{
	color:#FF2929;
	font-size:12.5px;
}

.to_pass_reset{
	text-align:right;
	color:#164690;
	margin-top:30px;
	font-size:10px;
}

.to_pass_reset a {
	text-decoration:none;

}






.bottom_p{
	text-align:center;
}


.bottom_btn_1 {
	width:60%;
	/*background-color:#000435;*/
	border:solid 3px #000;
	color:#ffffff;
	border-top-left-radius: 15px;
  	border-top-right-radius: 15px;
  	border-bottom-right-radius: 15px;
  	border-bottom-left-radius: 15px;
  	padding:10px 5px;
  	/*border-bottom:solid 3px #677695;*/
  	margin-bottom:20px;
  	font-size:12.5px;
  	color:#000;
  	font-weight:bold;

}

.bottom_btn_1:hover {
	background-color:#000;
	color:#ffffff;
	transition:0.3s;

}



.bottom_btn_2 {
	width:40%;
	padding:10px 5px;
	margin:auto;
	color:#FF3E27;
	font-size:12.5px;
	text-align: center;
}
.bottom_btn_2 a {
	text-decoration:none;
	color:#FF3E27;
}

.bottom_btn_2:hover {
	opacity:0.5;
}

.bottom_btn_3 {
	width:60%;
	text-align:center;
	/*background-color:#FF6A25;*/
	border:3px solid #FF6A25;
	border-top-left-radius: 15px;
  	border-top-right-radius: 15px;
  	border-bottom-right-radius:15px;
  	border-bottom-left-radius:15px;
  	/*padding:12.5px 5px;*/
  	margin:auto;
  	/*border-bottom:solid 3px #677695;*/
  	font-weight:bold;
}

.bottom_btn_3 p {
	padding:12.5px 5px;
}

.bottom_btn_3:hover {
	background-color:#FF6A25;
	transition:0.3s;
}

.bottom_btn_3 p:hover{
	color:#ffffff;
}

.bottom_btn_3 a {
	text-decoration:none;
	color:#FF6A25;
	font-size:12.5px;
}




/******************************sidebar******************************/

.sidebar{
	width:16%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	background-color:rgba(0,0,0);
}

.sidebar img {
	width:12px;
	height:12px;
	margin-right:12px;
	vertical-align:middle;
}
.sidebar_contents{
	padding-top:100px;

}

.sidebar ul li {
	width:100%;
	display:block;
	color:#ffffff;
	font-size:12px;
	padding:20px 0px 20px 20px;
}


.sidebar ul li:hover {
	background-color:rgba(255,255,255,0.3);
}

/******************************dashboard******************************/
.dashboard_bg {
	width:74%;
	height:auto;
	padding:20px;
	margin-top:100px;
	margin-right:6%;
	margin-left:20%;
	display:grid;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
  	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
  	grid-template: 200px/ 1fr 1fr 1fr;
  	grid-gap:20px;
}

.dashboard_bg img {
	width:60px;
	height:60px;
	margin:20px 0px;
}

.dashboard_bg h3 {
	margin:14px 0px;
	font-size: 1.4em;
}

.dashboard_bg a {
	color:black;
}



.dashboard_box {
	border:1px solid black;
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
  	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
	text-align:center;
}

.setting_bg {
	grid-template:240px/ 360px;
	justify-content: center;
}
.setting_bg  img {
	width:100px;
	height:100px;
	margin:20px 0px;
}

.setting_bg h3 {
	margin:14px 0px;
	font-size: 1.2em;
}

/******************************list******************************/
.list_wrapper {
	box-sizing:border-box;
	padding-bottom:50px;
	z-index:10;

}
.list_bg{
	/*border:1px black solid;*/
	width:74%;
	margin-right:6%;
	margin-left:20%;
	height:auto;
	padding-bottom:40px;
	padding-top:20px;
	background-color:rgba(255,255,255,0);
	position:relative;
}

.list {
	margin-right:6%;
	margin-left:20%;
	display:grid;
	text-align:center;
	align-items: center;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
  	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
}


.list_2 {
	grid-template: 200px 80px/ 1fr


}
.list_6 {
	grid-template: 80px 160px/ 3fr 3fr 3fr 2fr 1fr 1fr;
	grid-auto-rows:160px;
  	grid-auto-columns:3fr 3fr 3fr 2fr 1fr 1fr;;
}



.list_8 {
	grid-template: 80px 160px/ 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr;
	grid-auto-rows:160px;
  	grid-auto-columns:2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
}



.list_title {
	padding:24px 0px;
	font-weight: bold;
	border-bottom: dashed 1px #000000;
}


.list_items {


}



.list_items img {
	width:20px;
	height:20px;
}

.to_invoice{
	padding:8px;
	border:1px solid #000000;
	color:#000000;
	border-top-left-radius: 14px;
  	border-top-right-radius: 14px;
  	border-bottom-right-radius: 14px;
  	border-bottom-left-radius: 14px;


}

.list_search{
	width:40%;
	margin:40px 4% 40px 0px;
	height:50px;
	background-color:rgba(240,240,240,0.9);
	border-top-left-radius: 14px;
  	border-top-right-radius: 14px;
  	border-bottom-right-radius: 14px;
  	border-bottom-left-radius: 14px;
	position:relative;
}

.list_search img {
	width:30px;
	height:30px;
	position:absolute;
	right:15px;
	top:10px;
}

.list_search input {
	width:100%;
	background:transparent;
	border:none;
	padding:16px 16px 16px 16px;
	font-size:16px;
}

.status_active {
	margin:0px 64px;
	background-color:rgba(225,225,225,0.6);
}


.create_new_btn{
	position:absolute;
	right:0;
	top:60px;
	border-top-left-radius: 14px;
  	border-top-right-radius: 14px;
  	border-bottom-right-radius: 14px;
  	border-bottom-left-radius: 14px;
  	border:solid 3px rgba(0,0,0);
 
}

.create_new_btn:hover {
	background-color:rgba(0,0,0);
	color:#ffffff;
	transition:0.2s;

}
.create_new_btn p:hover {
	color:#ffffff;

}


.create_new_btn p {
	padding:15px 50px;
	font-weight:bold;
	color:rgba(0,0,0);
}

/*.digital_seal{
	margin-left:24%;
	margin-right:6%;
	width:60%;
	height:500px;
	display:flex;
	justify-content:center;
	align-items: center;
	position:relative;
}

.edit_btn {
	position:absolute;
	bottom:100px;
}


.edit_btn img {
	border:;
	width:20px;
	height:20px;
	align-items: center;
}*/


/******************************form******************************/

.form_wrapper {
	width:100%;
	height:100%;
	background-color:rgba(240,240,240,0.4);
}

.form_bg {
	padding-top:50px;
	padding-bottom:50px;
}
.form_title {
	width:100%;
	border-bottom:3px rgba(0,0,0) solid;
	margin-bottom:50px;
}
.form_title h1 {
	padding-bottom:20px;
	font-size:1.1em;
}




.form_box {
	width:70%;
	margin-right:15%;
	margin-left:15%;
	padding:50px;
	height:auto;
	background-color:rgba(255,255,255);
	border-top-right-radius:15px;
	border-top-left-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.form_box form {
	margin-bottom:100px;
}

.value_name {
	display:block;
	text-align:left;
	padding-bottom:15px;
}


.form_block {
	margin:20px 0px;
}

/*.form_block span{
	display: inline-block;
}*/

.value_group {
	border-left:3px solid #000435;
	padding:0px 3px;
	margin-top:60px;
	margin-bottom:30px;
	font-size:1.1em;
}


.form_box textarea {
	outline:none;
	border:solid 2px rgba(217,217,217,0.8);
	padding:10px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.form_box textarea:focus {
	border: 2px solid rgba(0, 4, 53, 0.8);
	outline: none;
	transition:0.8s;

	}

.value {
	display:block;
	outline:none;
	width:40%;
	border:solid 2px rgba(217,217,217,0.8);
	outline:none;
	padding:6px 10px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.value:focus {
	border: 2px solid rgba(0, 4, 53, 0.8);
	outline: none;
	transition:0.8s;

	}




.short_text {
	width:80%;
	height:60px;
}

.middle_text {
	width:100%;
	height:100px;
}

.long_text {
	width:100%;
	height:300px;
}

.value_radio {
	display:inline-block;
}



.bottom_btns {
	width:60%;
	margin-left:20%;
	margin-right:20%;
}

.form_btn {
	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;
  	background-color:#ffffff;
  	display:inline-block;
  	width:16%;
	text-align:center;
  	padding:10px 5px;
  	font-size:10px;
  	margin-right:20px;
}


.form_btn_save:active {
	border-bottom:none;
	transform:translateY(4px);
	-ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
}

.form_btn_back {
	background-color:#ffffff;
	color:#000000;


}

.form_btn_save {
	/*background-color:rgba(255,158,0);*/
	border-bottom:solid 3px #677695;
	background-color:#D9D9D9;
}

/******************************template******************************/

.template_wrapper {
	width:80%;
	height:auto;
	margin:120px 10% 120px 10%;
}

.template_wrapper h1 {
	text-align: center;
	font-size: 1.6em;
	margin:70px 0px;
}

.left_box {
	float: left;
}

.left_box h2{
	padding-bottom:12px;
	border-bottom: 2px solid #000000;
	margin-bottom:20px;
	line-height: 1.6em;
}
.left_box p{
	padding-bottom:12px;
	padding-top: 12px;
	margin-bottom:20px;
	line-height: 2.4em;
}
.left_box h3{
	padding-bottom:12px;
	padding-top: 12px;
	margin-bottom:20px;
	line-height: 1.2em;
	border-bottom: 2px solid #000000;
	margin-bottom: 80px;

}
.right_box {
	float:right;
	line-height: 1.8em;
}

.template_list{
	clear: both;
	display:grid;
	margin-top:300px;
	text-align: center;
	font-size: 14px;
	border:#000000 solid 1.6px;
	grid-template: 86px 38px/ 3fr 1fr 1fr 1fr 2fr;
	grid-auto-rows:36px;
  	grid-auto-columns:3fr 1fr 1fr 1fr 2fr;
  	position:relative;
  	z-index:10;
}



.template_list_items {
	padding:12px 0px;
	border:dashed 1px rgba(225,225,225,0.8);
}

.template_list_title {
	padding:36px 0px;
	background-color: rgba(225,225,225,0.9);
	border-bottom:solid 0.8px #000000;
}

.template_total{
	width:50%;
	display: grid;
	grid-template: 38px/ 1fr 1fr;
	position:absolute;
	bottom:-120px;
	right:0px;
	z-index:1;
}

.total_items {
	padding:12px 0px;
	border:dashed 1px rgba(225,225,225,0.8);
	z-index:1;
}
.total_items:nth-child(2n+1){
	background-color: rgba(225,225,225,0.9);
	z-index:1;

}

.expiration_date{
	display:block;
	text-align:center;
	margin-top: 180px
}
.remarks{
	width:100%;
	border:2px solid rgba(225,225,225);
	height:100px;
	margin-top:40px;
}

.bank_info{
	margin-top: 40px;
	border-top: 1px solid #000;
	padding:20px 0px;
	line-height: 1.4em;
}







/******************************media******************************/

@media(max-width: 800px){

	.sidebar {
		display:none;
		width:0%;
		height:0%;

	}
	.dashboard_bg {
		width:92%;
		margin:0% 4%;
		margin-top:140px
	}

	.list_wrapper {
		width:100%;
		margin-top:70px;

	}
	.list_bg {
		width:92%;
		margin:0% 4%;
	}

	.list {
		margin:0% 4%;
	
	}

	.header {
		width:100%;
		position:absolute;
		left:0px;
		top:0px;
	}


	.list_row{
	width:30%;
	margin-left:30px;
	}

	.list_btn_block {
		display:block;

	}


	.logout{
		display:none;

	}

	.header h1{
	padding:25px 25px;
	}


	.menu_icon {
		display:flex;
	}
	.menu_icon img {
		align-items:center;
		margin:auto;
	}

	.form_box {
		width:90%;
		margin-right:5%;
		margin-left:5%;
	}


}










